body {
    /*margin: 0;
    padding: 0;*/
    font-family: Arial, sans-serif;
    /*background-color: #f2f2f2;*/
    background-image: url("Pawl_mountains_material_design_blue_green_material_design_wallp_a49c9e00-67ef-44a5-8680-f1b45f35a933.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /*.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .weather {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-weight:lighter;
  }
  
  .location {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .temperature {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .wind {
    display: flex;
    margin-bottom: 20px;
  }
  
  .wind-direction {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .wind-speed {
    font-size: 24px;
    font-weight: bold;
  }
  
  .cloud-cover,
  .humidity {
    font-size: 24px;
    margin-bottom: 10px;
  }*/
  
  /*Search Bar*/
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #search-bar {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 10px;
    width: 250px;
    font-size: 16px;
  }
  
  /*button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }*/
  
/* Search Results*/
#search-results {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 25%;
  max-height: 200px;
  overflow-y: auto;
  top: 30px;
}

#search-results p {
  padding: 5px;
  cursor: pointer;
}

#search-results p:hover {
  background-color: #ddd;
}

#searchSpacer{
  height: 20px;
}

/*Carousel*/


/*.weatherDiv {
  align-items: center;
}

h1 {
  font-size: 32px;
  margin-top: 0;
}

p {
  font-size: 24px;
  margin: 10px 0;
}*/

/*slick-prev,
.slick-next {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;

  
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #333;
}*/



/*.slick-next2:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;


  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #333;
}

.slick-prev {
  left: -20px;
}

.slick-next {
  right: -20px;
}*/

/*carousel control*/

/*.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #333;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.carousel-control:hover {
  background-color: #333;
  color: #fff;
  border-color: #fff;
}

.carousel-control-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #333;
}


.nextArrowBtn{
  position: absolute;
  z-index: 1000;
  top: 50%;
  right: 0;
  color: #BFAFB2;
}
.prevArrowBtn{
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 0;
  color: #BFAFB2;
}*/

/*added*/

.weatherContainer {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.container {
  /*display: inline-block;*/
  /*width: 90%;*/
  height: 17em;
  margin: 1em;
  padding: 1em;
  
background: rgba(9, 60, 65, 0.93);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
  
}

.weather {
  text-align: center;
}

/*h1 {
  font-size: 24px;
  margin-bottom: 10px;
}*/

p {
  font-size: 18px;
  margin-bottom: 5px;
}

.weather h1{
  color: white;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 1em;
}

.cols{
  width: 100%;
  display: inline-block;
}
.weatherIconContainer{
  width:50%;
  height: 100%;
  /*display: inline-block;*/
  color: white;
  float: left;
}
.weatherInfoContainer{
font-size: 10em;
  text-align:left;
  width:50%;
  color: white;
  float: left;
  
    /*display: flex;
  align-items: center;
  justify-content: center;*/
}

.iconContainer{
    width:50%;
  float: left;
}
.temperatureContainer{
  /*width:50%;*/
  color: white;
  float: left; 
  font-size: 5em;
}
.temperatureContainer p {
    font-size: 100%;
}
@media (max-width: 1080px) {
  .container {
    height: 36em;
  }
  .temperatureContainer{
      float: none;
  }
  .weatherIconContainer {
      width: 100%;
      
  }
    .iconContainer {
      width: 100%;
      
  }
  .weatherInfoContainer{
font-size: 10em;
  text-align:left;
  width:50%;
  color: white;
  float: left;
  
}
}