body {
    /*margin: 0;
    padding: 0;*/
    font-family: Arial, sans-serif;
    /*background-color: #f2f2f2;*/
    background-image: url("Pawl_mountains_material_design_blue_green_material_design_wallp_a49c9e00-67ef-44a5-8680-f1b45f35a933.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /*Search Bar*/
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input {
    background-color: white;
    background-color: transparent;
    outline: none;
    border-color: transparent;
    caret-color: white;
    color:white;
    font-size: large;
  }

  /* Set the color of the placeholder text */
::-webkit-input-placeholder { /* WebKit browsers */
  color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: white;
}
  
  
  #search-bar {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    /*margin-right: 10px;*/
    width: 250px;
    font-size: 16px;
  }
  
  /*button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }*/
  
/* Search Results*/
#search-results {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 25%;
  max-height: 200px;
  overflow-y: auto;
  top: 30px;
}

#search-results p {
  padding: 5px;
  cursor: pointer;
}

#search-results p:hover {
  background-color: #ddd;
}

#searchSpacer{
  height: 20px;
}

/*added*/

.weatherContainer {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.container {
  /*display: inline-block;*/
  /*width: 90%;*/
  height: 17em;
  margin: 1em;
  padding: 1em;
  
background: rgba(9, 60, 65, 0.93);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
  
}

.weather {
  text-align: center;
}

/*h1 {
  font-size: 24px;
  margin-bottom: 10px;
}*/

p {
  font-size: 25px;
  margin-bottom: 5px;
}

.weather h1{
  color: white;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 1em;
}

.cols{
  width: 100%;
  display: inline-block;
}
.weatherIconContainer{
  width:50%;
  height: 100%;
  /*display: inline-block;*/
  color: white;
  float: left;
}
.weatherInfoContainer{
font-size: 10em;
  text-align:left;
  width:50%;
  color: white;
  float: left;
  
    /*display: flex;
  align-items: center;
  justify-content: center;*/
}

.iconContainer{
    width:50%;
  float: left;
}
.temperatureContainer{
  /*width:50%;*/
  color: white;
  float: left; 
  font-size: 5em;
}
.temperatureContainer p {
    font-size: 100%;
}
@media (max-width: 1080px) {
  .container {
    height: 36em;
  }
  .temperatureContainer{
      float: none;
  }
  .weatherIconContainer {
      width: 100%;
      
  }
    .iconContainer {
      width: 100%;
      
  }
  .weatherInfoContainer{
font-size: 10em;
  text-align:left;
  width:50%;
  color: white;
  float: left;
  
}
}